{
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-spacing": [ 2, { "before": true, "after": true } ],
    "block-spacing": [2, "always"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "semi": [2, "always", {"omitLastInOneLineBlock": true}]
  }
}
